* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 90px;
  padding-top: 150px;
}

#left {
  height: 100%;
  width: 48%;
  /* background-color: red; */
}
#right {
  height: 100%;
  width: 48%;
  /* background-color: blue; */
}

#left h1 {
  font-size: 150px;
  font-family: work sans;
}
